.vscode

/wix.zip
/wix
/xencons.tar
/xencons
/xenhid.tar
/xenhid
/xeniface.tar
/xeniface
/xennet.tar
/xennet
/xenvbd.tar
/xenvbd
/xenvif.tar
/xenvif
/xenvkbd.tar
/xenvkbd
/installer/bin
/installer/obj